.loader {
  width: 45px;
  height: 40px;
  background: linear-gradient(
      #0000 calc(1 * 100% / 6),
      #e0e0e0 0 calc(3 * 100% / 6),
      #0000 0
    ),
    linear-gradient(
      #0000 calc(2 * 100% / 6),
      #e0e0e0 0 calc(4 * 100% / 6),
      #0000 0
    ),
    linear-gradient(
      #0000 calc(3 * 100% / 6),
      #e0e0e0 0 calc(5 * 100% / 6),
      #0000 0
    );
  background-size: 6px 400%;
  background-repeat: no-repeat;
  background-position: 0% 100%, 25% 100%, 50% 100%;
  animation: matrix 1s infinite linear;
}

/* Loader Component Styles */

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align line with icon start */
  width: fit-content; /* So the line only spans icon+text */
  gap: 0.5rem;
}

.loader-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3b82f6; /* Icon background */
  padding: 4px;
  border-radius: 0.5rem;
}

.loader-icon {
  width: 40px;
  height: 40px;
  color: #fff;
}

.loader-text {
  font-size: 2rem;
  font-weight: 600;
  color: #2c3e50;
  font-family: Arial, Helvetica, sans-serif;
}

.loader-line {
  width: 0%;
  height: 4px;
  background-color: #3b82f6;
  animation: lineGrow 3s linear infinite;
}

/* Animate line from left to right of container */
@keyframes lineGrow {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* Matrix Animation */
@keyframes matrix {
  0% {
    background-position: 0% 100%, 25% 100%, 50% 100%;
  }
  100% {
    background-position: 0% 0%, 25% 0%, 50% 0%;
  }
}
